*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color:#f6f8f9;
}

.header-container{
    width: 95%;
    margin: auto;
    
}


/* HEADER */
header{
    background-color: white; 
}
.logo{
    margin-top: 10px;
    margin-bottom: 10px;
}

/* MAIN */

.main-container{
    margin: auto;
    background-color: white;
    width: 60%;
    margin-top: 40px;
    margin-bottom: 5px;
    border-radius: 10px;
    }
