*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

body{
    background-color:#f6f8f9;
}

.header-container{
    width: 95%;
    margin: auto;
}


/* HEADER */
header{
    background-color: white; 
}
.logo{
    margin-top: 10px;
    margin-bottom: 10px;
    vertical-align: middle;

}
.toboo{
    vertical-align: middle;
    font-size: 35px;
    font-weight: 800;
}

/* MAIN */

.main-container{
    background-color: white;
    margin-top: 40px;
    margin-left: 200px;
    margin-right: 200px;
    border-radius: 10px;
    height: 600px;
    margin-bottom: 10px;
    }
